# Pandas

# Series

In [ ]:
import pandas as pd

data = pd.Series([2,3,4,5], index =['a','b','c','d'])
print(data.values)
print(data.index)

In [ ]:
data['a':'c']

In [ ]:
grades_dict = {'A':4, 'B':3.5, 'C':3, 'D':2.5 }
grades = pd.Series(grades_dict)
grades.values

In [ ]:
marks_dict = {'A':90, 'B':85, 'C':80, 'D':75 }
marks = pd.Series(marks_dict)
marks.values

# Data Frame

In [ ]:
df = pd.DataFrame({'grades':grades,'marks':marks})
df

In [ ]:
df.values

In [ ]:
df.T

In [ ]:
df.columns

In [ ]:
df['scaled marks'] = 100*(df['marks']/90)
df

In [ ]:
del df['scaled marks']
df

In [ ]:
g = df[df['marks'] <85]
g

# Pandas Missing Values (NaN)

In [ ]:
import pandas as pd
A = pd.DataFrame([{'a':1, 'b':4},{'b':5, 'c':7}])
A

In [ ]:
B= A.fillna(0)
B
#Fills in missing values with value given

In [ ]:
C = A.dropna
C
#Not recommended for a lot of missing values

# Pandas Indexing

In [ ]:
data = pd.Series(['a','b','c'], index=[1,3,5])
print(data[1]) #explicit index
print(data[1:3]) #explicit index

In [ ]:
data.loc[1:3] #explicit index

In [ ]:
data.iloc[1:3] #implicit index

# CSV Files

In [22]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
df = pd.read_csv('LCK_RegionalFinals_2024.csv',delimiter=";")

In [23]:
df.head()

,Player,Role,Team,Opponent_Team,Opponent_Player,Date,Round,Day,Patch,Stage,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Zeus,TOP,T1,DK,kingen,12.09.2024,1,1,v14.16,Regional_Finals_2024,...,23062,0,13,350,21051,147,13,35,0,200
1,Oner,JUNGLE,T1,DK,Lucid,12.09.2024,1,1,v14.16,Regional_Finals_2024,...,35207,0,155,672,43147,107,12,39,900,0
2,Faker,MID,T1,DK,ShowMaker,12.09.2024,1,1,v14.16,Regional_Finals_2024,...,30650,0,14,227,23888,126,9,31,450,250
3,Gumayusi,ADCARRY,T1,DK,Aiming,12.09.2024,1,1,v14.16,Regional_Finals_2024,...,24245,0,6,216,11867,47,4,22,0,150
4,Keria,SUPPORT,T1,DK,Moham,12.09.2024,1,1,v14.16,Regional_Finals_2024,...,16456,778,52,232,18683,75,35,54,0,0

In [24]:
df.drop(['Patch','Stage'], axis=1,inplace=True)
df.head()

,Player,Role,Team,Opponent_Team,Opponent_Player,Date,Round,Day,No_Game,all_Games,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Zeus,TOP,T1,DK,kingen,12.09.2024,1,1,1,5,...,23062,0,13,350,21051,147,13,35,0,200
1,Oner,JUNGLE,T1,DK,Lucid,12.09.2024,1,1,1,5,...,35207,0,155,672,43147,107,12,39,900,0
2,Faker,MID,T1,DK,ShowMaker,12.09.2024,1,1,1,5,...,30650,0,14,227,23888,126,9,31,450,250
3,Gumayusi,ADCARRY,T1,DK,Aiming,12.09.2024,1,1,1,5,...,24245,0,6,216,11867,47,4,22,0,150
4,Keria,SUPPORT,T1,DK,Moham,12.09.2024,1,1,1,5,...,16456,778,52,232,18683,75,35,54,0,0

In [25]:
df.rename(columns={'Opponent_Team':'Opp_Team', 'Opponent_Player':'Opp_Player','No_Game':'Games'},inplace=True)
df.head()

,Player,Role,Team,Opp_Team,Opp_Player,Date,Round,Day,Games,all_Games,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Zeus,TOP,T1,DK,kingen,12.09.2024,1,1,1,5,...,23062,0,13,350,21051,147,13,35,0,200
1,Oner,JUNGLE,T1,DK,Lucid,12.09.2024,1,1,1,5,...,35207,0,155,672,43147,107,12,39,900,0
2,Faker,MID,T1,DK,ShowMaker,12.09.2024,1,1,1,5,...,30650,0,14,227,23888,126,9,31,450,250
3,Gumayusi,ADCARRY,T1,DK,Aiming,12.09.2024,1,1,1,5,...,24245,0,6,216,11867,47,4,22,0,150
4,Keria,SUPPORT,T1,DK,Moham,12.09.2024,1,1,1,5,...,16456,778,52,232,18683,75,35,54,0,0

In [29]:
df['Date'] = pd.to_datetime(df['Date'],format='%d.%m.%Y')
df.head()

,Player,Role,Team,Opp_Team,Opp_Player,Date,Round,Day,Games,all_Games,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
0,Zeus,TOP,T1,DK,kingen,2024-09-12,1,1,1,5,...,23062,0,13,350,21051,147,13,35,0,200
1,Oner,JUNGLE,T1,DK,Lucid,2024-09-12,1,1,1,5,...,35207,0,155,672,43147,107,12,39,900,0
2,Faker,MID,T1,DK,ShowMaker,2024-09-12,1,1,1,5,...,30650,0,14,227,23888,126,9,31,450,250
3,Gumayusi,ADCARRY,T1,DK,Aiming,2024-09-12,1,1,1,5,...,24245,0,6,216,11867,47,4,22,0,150
4,Keria,SUPPORT,T1,DK,Moham,2024-09-12,1,1,1,5,...,16456,778,52,232,18683,75,35,54,0,0

In [30]:
df.describe()

,Date,Round,Day,Games,all_Games,Format,Game_of_day,Kills_Team,Turrets_Team,Dragon_Team,...,Damage self mitigated,Total Damage Shielded On Teammates,Time ccing others,Total Time CC Dealt,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost
count,130,130.000000,130.000000,130.000000,130.000000,130.0,130.000000,130.000000,130.000000,130.000000,...,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000
mean,2024-09-13 00:00:00,1.384615,2.000000,2.769231,4.538462,5.0,2.769231,12.153846,5.730769,2.346154,...,23236.807692,339.215385,23.553846,363.600000,22853.315385,72.792308,11.869231,30.000000,96.538462,96.538462
min,2024-09-12 00:00:00,1.000000,1.000000,1.000000,3.000000,5.0,1.000000,2.000000,0.000000,0.000000,...,2936.000000,0.000000,0.000000,32.000000,6214.000000,0.000000,1.000000,16.000000,0.000000,0.000000
25%,2024-09-12 00:00:00,1.000000,1.000000,2.000000,5.000000,5.0,2.000000,8.000000,2.000000,1.000000,...,10606.000000,0.000000,12.000000,105.250000,15473.250000,31.250000,6.000000,25.000000,0.000000,0.000000
50%,2024-09-13 00:00:00,1.000000,2.000000,3.000000,5.000000,5.0,3.000000,12.500000,7.000000,3.000000,...,17882.000000,0.000000,21.000000,245.000000,20097.500000,61.500000,9.500000,28.000000,0.000000,0.000000
75%,2024-09-14 00:00:00,2.000000,3.000000,4.000000,5.000000,5.0,4.000000,15.000000,9.000000,3.000000,...,30604.750000,0.000000,31.500000,474.250000,26799.250000,113.750000,15.000000,34.000000,100.000000,100.000000
max,2024-09-14 00:00:00,2.000000,3.000000,5.000000,5.000000,5.0,5.000000,26.000000,11.000000,5.000000,...,73429.000000,7271.000000,155.000000,3046.000000,57769.000000,217.000000,35.000000,54.000000,900.000000,900.000000
std,NaN,0.488386,0.880451,1.372704,0.845910,0.0,1.372704,5.923886,3.472569,1.333594,...,16160.833982,1067.798518,19.282503,415.390105,10706.333102,52.984961,7.696157,7.392642,181.529725,165.443784

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 79 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Player                              130 non-null    object
 1   Role                                130 non-null    object
 2   Team                                130 non-null    object
 3   Opp_Team                            130 non-null    object
 4   Opp_Player                          130 non-null    object
 5   Date                                130 non-null    datetime64[ns]
 6   Round                               130 non-null    int64
 7   Day                                 130 non-null    int64
 8   Games                               130 non-null    int64
 9   all_Games                           130 non-null    int64
 10  Format                              130 non-null    int64
 11  Game_of_day                         130 non-null    int64
 12  Side                                130 non-null    object
 13  Time                                130 non-null    object
 14  Ban                                 130 non-null    object
 15  Ban_Opponent                        130 non-null    object
 16  Pick                                130 non-null    object
 17  Pick_Opponent                       130 non-null    object
 18  Champion                            130 non-null    object
 19  Champion_Opponent                   130 non-null    object
 20  Outcome                             130 non-null    object
 21  Kills_Team                          130 non-null    int64
 22  Turrets_Team                        130 non-null    int64
 23  Dragon_Team                         130 non-null    int64
 24  Baron_Team                          130 non-null    int64
 25  Level                               130 non-null    int64
 26  Kills                               130 non-null    int64
 27  Deaths                              130 non-null    int64
 28  Assists                             130 non-null    int64
 29  KDA                                 130 non-null    object
 30  CS                                  130 non-null    int64
 31  CS in Team's Jungle                 130 non-null    int64
 32  CS in Enemy Jungle                  130 non-null    int64
 33  CSM                                 130 non-null    float64
 34  Golds                               130 non-null    int64
 35  GPM                                 130 non-null    int64
 36  GOLD%                               130 non-null    float64
 37  Vision Score                        130 non-null    int64
 38  Wards placed                        130 non-null    int64
 39  Wards destroyed                     130 non-null    int64
 40  Control Wards Purchased             130 non-null    int64
 41  Detector Wards Placed               130 non-null    int64
 42  VSPM                                130 non-null    float64
 43  WPM                                 130 non-null    float64
 44  VWPM                                130 non-null    float64
 45  WCPM                                130 non-null    float64
 46  VS%                                 130 non-null    float64
 47  Total damage to Champion            130 non-null    int64
 48  Physical Damage                     130 non-null    int64
 49  Magic Damage                        130 non-null    int64
 50  True Damage                         130 non-null    int64
 51  DPM                                 130 non-null    int64
 52  DMG%                                130 non-null    float64
 53  K+A Per Minute                      130 non-null    float64
 54  KP%                                 130 non-null    float64
 55  Solo kills                          130 non-null    int64
 56  Double kills                        130 non-null    int64
 57  Triple kills                        130 non-null    int64
 58  Quadra kills                        130 non-null    int64
 59  Penta kills                         130 non-null    int64
 60  GD@15                               130 non-null    int64
 61  CSD@15                              130 non-null    int64
 62  XPD@15                              130 non-null    int64
 63  LVLD@15                             130 non-null    int64
 64  Objectives Stolen                   130 non-null    int64
 65  Damage dealt to turrets             130 non-null    int64
 66  Damage dealt to buildings           130 non-null    int64
 67  Total heal                          130 non-null    int64
 68  Total Heals On Teammates            130 non-null    int64
 69  Damage self mitigated               130 non-null    int64
 70  Total Damage Shielded On Teammates  130 non-null    int64
 71  Time ccing others                   130 non-null    int64
 72  Total Time CC Dealt                 130 non-null    int64
 73  Total damage taken                  130 non-null    int64
 74  Total Time Spent Dead               130 non-null    int64
 75  Consumables purchased               130 non-null    int64
 76  Items Purchased                     130 non-null    int64
 77  Shutdown bounty collected           130 non-null    int64
 78  Shutdown bounty lost                130 non-null    int64
dtypes: datetime64[ns](1), float64(10), int64(53), object(15)
memory usage: 80.4+ KB

In [40]:
df2 = df.groupby('Team')[['Physical Damage', 'Magic Damage', 'True Damage']].sum()
df2

      Physical Damage  Magic Damage  True Damage
Team
DK             176224        229957        24277
FOX            106021        136026        12880
KT             327666        264955        45450
T1             364644        360139        54687

In [41]:
df2 = df.groupby(['Team','Date'])[['Physical Damage', 'Magic Damage', 'True Damage']].sum()
df2

                 Physical Damage  Magic Damage  True Damage
Team Date
DK   2024-09-12           176224        229957        24277
FOX  2024-09-13           106021        136026        12880
KT   2024-09-13           145739        119660        22388
     2024-09-14           181927        145295        23062
T1   2024-09-12           220425        164572        36126
     2024-09-14           144219        195567        18561

In [45]:
df3 = df2[df2['True Damage'] > 15000]
df3

                 Physical Damage  Magic Damage  True Damage
Team Date
DK   2024-09-12           176224        229957        24277
KT   2024-09-13           145739        119660        22388
     2024-09-14           181927        145295        23062
T1   2024-09-12           220425        164572        36126
     2024-09-14           144219        195567        18561