# Pandas

# Series

In [6]:
import pandas as pd

data = pd.Series([2,3,4,5], index =['a','b','c','d'])
print(data.values)
print(data.index)

[2 3 4 5]
Index(['a', 'b', 'c', 'd'], dtype='object')

In [8]:
data['a':'c']

a    2
b    3
c    4
dtype: int64

In [12]:
grades_dict = {'A':4, 'B':3.5, 'C':3, 'D':2.5 }
grades = pd.Series(grades_dict)
grades.values

array([4. , 3.5, 3. , 2.5])

In [11]:
marks_dict = {'A':90, 'B':85, 'C':80, 'D':75 }
marks = pd.Series(marks_dict)
marks.values

array([90, 85, 80, 75], dtype=int64)

# Data Frame

In [14]:
df = pd.DataFrame({'grades':grades,'marks':marks})
df

   grades  marks
A     4.0     90
B     3.5     85
C     3.0     80
D     2.5     75

In [16]:
df.values

array([[ 4. , 90. ],
       [ 3.5, 85. ],
       [ 3. , 80. ],
       [ 2.5, 75. ]])

In [18]:
df.T

           A     B     C     D
grades   4.0   3.5   3.0   2.5
marks   90.0  85.0  80.0  75.0

In [19]:
df.columns

Index(['grades', 'marks'], dtype='object')

In [22]:
df['scaled marks'] = 100*(df['marks']/90)
df

   grades  marks  scaled marks
A     4.0     90    100.000000
B     3.5     85     94.444444
C     3.0     80     88.888889
D     2.5     75     83.333333

In [23]:
del df['scaled marks']
df

   grades  marks
A     4.0     90
B     3.5     85
C     3.0     80
D     2.5     75

In [25]:
g = df[df['marks'] <85]
g

   grades  marks
C     3.0     80
D     2.5     75